/* Hover animation effects */
.hoverAct:hover span {
  color: #fff !important;
}

.hoverAct:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 0;
  content: '';
  transition: .5s;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background: rgba(18, 223, 206, .5);
}

.hoverAct:hover:before {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes shine {
  0% {
    background-position-x: 400%;
  }
  50% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}


